<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">D-Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">フォーム<span class="sr-only">(現位置)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./myanalysis">個人</a>
        <li class="nav-item">
            <a class="nav-link" href="./totalanalysis">全体</a>
        </ul>
    </div>
</nav>

<h1 class="display-4 text-primary">Form</h1>

<%= form_for(@match, url:{controller:'userpage', action:'create'}) do |form| %>
    <div class="form-group">
        <label>自分：</label>
        <%= form.select :mydeck, 
            [["デッキ"],
            ["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            class: 'form-control' %>
        <%= form.select :myskill,
            [["スキル"],
            ["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <label>相手：</label>
        <%= form.select :oppdeck, 
            [["デッキ"],
            ["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            class: 'form-control' %>
        <%= form.select :oppskill,
            [["スキル"],
            ["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            class: 'form-control' %>
    </div>

    <div class="form-group">
        <label><%= form.radio_button :victory, "勝ち",  checked: true%>勝ち</label>
        <label><%= form.radio_button :victory, "負け" %>負け</label>
    </div>

    <%= form.submit class:"btn btn-primary" %>
<% end %>