<h1 class="display-4 text-primary">Form</h1>

<%= form_for(@match, url:{controller:'userpage', action:'create'}) do |form| %>
    <div class="form-group">
        <label>自分：</label>
        <%= form.select :mydeck, 
            [["デッキ"],
            ["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            class: 'form-control' %>
        <%= form.select :myskill,
            [["スキル"],
            ["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            class: 'form-control' %>
    </div>
    
    <div class="form-group">
        <label>相手：</label>
        <%= form.select :oppdeck, 
            [["デッキ"],
            ["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            class: 'form-control' %>
        <%= form.select :oppskill,
            [["スキル"],
            ["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            class: 'form-control' %>
    </div>

    <div class="form-group">
        <label><%= form.radio_button :victory, "勝ち",  checked: true%>勝ち</label>
        <label><%= form.radio_button :victory, "負け" %>負け</label>
    </div>

    <%= form.submit class:"btn btn-primary" %>
<% end %>
<hr>
<div><%=link_to 'myanalysis&gt;&gt;'.html_safe, {action: 'myanalysis'} %></div>
<div><%=link_to 'totalanalysis&gt;&gt;'.html_safe, {action: 'totalanalysis'} %></div>