<h1>Userpage#myanalysis</h1>
<p>Find me in app/views/userpage/myanalysis.html.erb</p>
<p><%= @data.group(:oppdeck).count %></p>

<div class="container text-white">
    <div class="row">
        <div class="col-md-6 border">
            <%= pie_chart({"Football" => 10, "Basketball" => 5}) %>
        </div>
        <div class="col-md-6 border">
            <%= pie_chart @data.group(:oppdeck).count %>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>自分デッキ</th>
                <th>自分スキル</th>
                <th>相手デッキ</th>
                <th>相手スキル</th>
                <th>勝敗</th>
                <th>DP</th>
            </tr>
        </thead>
        <tbody>
            <% num = 0 %>
            <% @data.each do |obj| %>
            <% num += 1 %>
            <tr>
                <td><%= num %></td>
                <td><%= obj.mydeck %></td>
                <td><%= obj.myskill %></td>
                <td><%= obj.oppdeck %></td>
                <td><%= obj.oppskill %></td>
                <td><%= obj.victory %></td>
                <td><%= obj.dp %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>


<div><%=link_to 'form&gt;&gt;'.html_safe, {action: 'form'} %></div>
<div><%=link_to 'totalanalysis&gt;&gt;'.html_safe, {action: 'totalanalysis'} %></div>
