<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">D-Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">フォーム</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">個人<span class="sr-only">(現位置)</span></a>
        <li class="nav-item">
            <a class="nav-link" href="./totalanalysis">全体</a>
        </ul>
    </div>
</nav>

<h1>ユーザーページ</h1>
<p>自分の戦績の分析を行うページです</p>

<div class="container text-white">
    <div class="row">
        <div class="col-md-6 border">
            <% dp_line = [[0, 0]] %>
            <% num = 0 %>
            <% @data.each do |obj| %>
                <% num += 1 %>
                <% dp_line.push([num, obj.dp]) %>
            <% end %>
            <%= line_chart  dp_line, curve: false, label: "DP" %>
        </div>
        <div class="col-md-6 border">
            <%= pie_chart @data.group(:oppdeck).count.sort {|a,b| b[1]<=>a[1]} %>
        </div>
    </div>
    
    <div class="row">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>自分デッキ</th>
                <th>自分スキル</th>
                <th>相手デッキ</th>
                <th>相手スキル</th>
                <th>勝敗</th>
                <th>DP</th>
            </tr>
        </thead>
        <tbody>
            <% num = 0 %>
            <% @data.each do |obj| %>
            <% num += 1 %>
            <tr>
                <td><%= num %></td>
                <td><%= obj.mydeck %></td>
                <td><%= obj.myskill %></td>
                <td><%= obj.oppdeck %></td>
                <td><%= obj.oppskill %></td>
                <td><%= obj.victory %></td>
                <td><%= obj.dp %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>
