<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">D-Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">フォーム</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./myanalysis">個人</a>
        <li class="nav-item active">
            <a class="nav-link" href="#">全体<span class="sr-only">(現位置)</span></a>
        </ul>
    </div>
</nav>

<h1>Userpage#totalanalysis</h1>
<p>Find me in app/views/userpage/totalanalysis.html.erb</p>

<div class="container text-white">
    <div class="row">
        <div class="col-md-6 border">
        <canvas id="myPieChart"></canvas>
        <script>
            var ctx = document.getElementById("myPieChart");
            var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: {
            labels: ["A型", "O型", "B型", "AB型"],
            datasets: [{
            backgroundColor: [
                "#BB5179",
                "#FAFF67",
                "#58A27C",
                "#3C00FF"
            ],
            data: [38, 31, 21, 10]
            }]
            },
            options: {
            title: {
                display: true,
                text: '血液型 割合'
            }
            }
        });
        </script>
        </div>
        <div class="col-md-6 border">
        <canvas id="myPieChart2"></canvas>
        <script>
        var ctx = document.getElementById("myPieChart2");
        var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["A型", "O型", "B型", "AB型"],
            datasets: [{
                backgroundColor: [
                    "#BB5179",
                    "#FAFF67",
                    "#58A27C",
                    "#3C00FF"
                ],
                data: [38, 31, 21, 10]
            }]
        },
        options: {
            title: {
            display: true,
            text: '血液型 割合'
            }
        }
        });
        </script>
        </div>
    </div>


    <div class="row">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>自分デッキ</th>
                <th>自分スキル</th>
                <th>相手デッキ</th>
                <th>相手スキル</th>
                <th>勝敗</th>
                <th>DP</th>
            </tr>
        </thead>
        <tbody>
            <% num = 0 %>
            <% @data.each do |obj| %>
            <% num += 1 %>
            <tr>
                <td><%= num %></td>
                <td><%= obj.mydeck %></td>
                <td><%= obj.myskill %></td>
                <td><%= obj.oppdeck %></td>
                <td><%= obj.oppskill %></td>
                <td><%= obj.victory %></td>
                <td><%= obj.dp %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
</div>

<div><%=link_to 'form&gt;&gt;'.html_safe, {action: 'form'} %></div>
<div><%=link_to 'myanalysis&gt;&gt;'.html_safe, {action: 'myanalysis'} %></div>
