<% if @account.id == @selectedData.playerid then %>
        <div class="float-left">
            <h1>記録の修正</h1>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">削除</button>
            </div>
        </div>
        <br><br>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">本当にこのデータを削除しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>削除したデータはもとには戻せません</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <a class="btn btn-danger" href="/delete/<%= @selectedData.id %>" role="button">削除する</a>
        </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br>

    <%= form_for(@selectedData, url:{controller:'maches', action:'update'}) do |form| %>
        <div class="form-group">
            <label>自分のデッキ</label>
            <%= form.select :mydeck, @decks,
                {selected: @defaultMyDeck}, {class: 'form-control'} %>
            <%= form.text_field :mydeck, :placeholder => "デッキ名", 
                :value => @defaultMyDeck=="自分で入力する" ? @selectedData.mydeck : "", :id => 'textfield_mydeck', :class => 'form-control' %>
        </div>
        <div class="form-group">
            <label>自分のスキル</label>
            <%= form.select :myskill, @skills,
                {selected: @defaultMySkill}, {class: 'form-control'} %>
            <%= form.text_field :myskill, :placeholder => "スキル名",
                :value => @defaultMySkill=="自分で入力する" ? @selectedData.myskill : "", :id => 'textfield_myskill', :class => 'form-control' %>
        </div>
        
        <div class="form-group">
            <label>相手のデッキ</label>
            <%= form.select :oppdeck, @decks,
                {selected: @defaultOppDeck}, {class: 'form-control'} %>
            <%= form.text_field :oppdeck, :placeholder => "デッキ名",
                :value => @defaultOppDeck=="自分で入力する" ? @selectedData.oppdeck : "", :id => 'textfield_oppdeck', :class => 'form-control' %>
        </div>
        <div class="form-group">
            <label>相手のスキル</label>
            <%= form.select :oppskill, @skills,
                {selected: @defaultOppSkill}, {class: 'form-control'} %>
            <%= form.text_field :oppskill, :placeholder => "スキル名",
                :value => @defaultOppSkill=="自分で入力する" ? @selectedData.oppskill : "", :id => 'textfield_oppskill', :class => 'form-control' %>
        </div>

        
        <% if @selectedData.victory == "勝ち" then %>
            <div class="form-group">
                <label>勝敗</label>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "勝ち", :class => 'form-check-input', checked: true%>勝ち</label>
                </div>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "負け", :class => 'form-check-input' %>負け</label>
                </div>
            </div>
        
            <div class="form-group">
                <label>対戦後のDP&nbsp;&nbsp;&nbsp;</label>
                <font id='pm', color='gray'>( DP +</font>
                <%= form.text_field :dpChanging, :value => @selectedData.dpChanging, readonly: true %>
                <font color='gray'>)</font>
                <%= form.text_field :dp, :value => @selectedData.dp, :class => 'form-control' %>
            </div>
        <% else %>
            <div class="form-group">
                <label>勝敗</label>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "勝ち", :class => 'form-check-input' %>勝ち</label>
                </div>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "負け", :class => 'form-check-input', checked: true %>負け</label>
                </div>
            </div>

            <div class="form-group">
                <label>対戦後のDP&nbsp;&nbsp;&nbsp;</label>
                <font id='pm', color='gray'>( DP -</font>
                <%= form.text_field :dpChanging, :value => @selectedData.dpChanging, readonly: true %>
                <font color='gray'>)</font>
                <%= form.text_field :dp, :value => @selectedData.dp, :class => 'form-control' %>
            </div>
        <% end %>


        
        <%= form.submit "送信", class:"btn btn-primary" %>
    <% end %>

<% else %>
    <h1>対戦記録の修正</h1>
    <br>
    <p>別ユーザのデータを編集することはできません</p>
<% end %>

<style>
    #match_dpChanging {
        font: 15px;
        width: 35px;
        padding: 0em;
        color: gray;
        border: none;
        background: transparent;
    }
</style>


<script>
    //「自分で入力する」以外ならテキストボックスを無効化
    if($('#match_mydeck').val() != "自分で入力する"){ $('#textfield_mydeck').prop('disabled', true);  $('#textfield_mydeck').hide();}
    if($('#match_myskill').val() != "自分で入力する"){ $('#textfield_myskill').prop('disabled', true); $('#textfield_myskill').hide();}
    if($('#match_oppdeck').val() != "自分で入力する"){ $('#textfield_oppdeck').prop('disabled', true); $('#textfield_oppdeck').hide();}
    if($('#match_oppskill').val() != "自分で入力する"){ $('#textfield_oppskill').prop('disabled', true); $('#textfield_oppskill').hide();}

    $('#match_mydeck').change(function(){
        //「自分で入力する」ならテキストボックス表示
        if($('#match_mydeck').val() == "自分で入力する"){
            $('#textfield_mydeck').prop('disabled', false);
            $('#textfield_mydeck').show();
        }else{
            $('#textfield_mydeck').prop('disabled', true);
            $('#textfield_mydeck').hide();
        }
    });
    $('#match_myskill').change(function(){
        //「自分で入力する」ならテキストボックス表示
        if($('#match_myskill').val() == "自分で入力する"){
            $('#textfield_myskill').prop('disabled', false);
            $('#textfield_myskill').show();
        }else{
            $('#textfield_myskill').prop('disabled', true);
            $('#textfield_myskill').hide();
        }
    });
    $('#match_oppdeck').change(function(){
        //「自分で入力する」ならテキストボックス表示
        if($('#match_oppdeck').val() == "自分で入力する"){
            $('#textfield_oppdeck').prop('disabled', false);
            $('#textfield_oppdeck').show();
        }else{
            $('#textfield_oppdeck').prop('disabled', true);
            $('#textfield_oppdeck').hide();
        }
    });
    $('#match_oppskill').change(function(){
        //「自分で入力する」ならテキストボックス表示
        if($('#match_oppskill').val() == "自分で入力する"){
            $('#textfield_oppskill').prop('disabled', false);
            $('#textfield_oppskill').show();
        }else{
            $('#textfield_oppskill').prop('disabled', true);
            $('#textfield_oppskill').hide();
        }
    });

    //DP変化の処理
    $('#match_victory_勝ち').change(function(){
        $('#pm').text('( DP +')
        $('#match_dp').val(gon.preDP + gon.dpChanging)
        $('#match_dpChanging').val(gon.dpChanging)
    });
    $('#match_victory_負け').change(function(){
        $('#pm').text('( DP -')
        if(gon.preDP - gon.dpChanging < 0){
            $('#match_dp').val(0)
            $('#match_dpChanging').val(gon.preDP)
        }else{
            $('#match_dp').val(gon.preDP - gon.dpChanging)
            $('#match_dpChanging').val(gon.dpChanging)
        }
    });
    $('#match_dp').keyup(function(){
        var sub = $('#match_dp').val() - gon.preDP
        if(sub >= 0){
            $('#match_dpChanging').val(sub)
        }else{
            $('#match_dpChanging').val(-sub)
        }
    });
</script>
