<% if @account.id == @selectedData.playerid then %>
        <div class="float-left">
            <h1>記録の修正</h1>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">削除</button>
            </div>
        </div>
        <br><br>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">本当にこのデータを削除しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>削除したデータはもとには戻せません</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <a class="btn btn-danger" href="/delete/<%= @selectedData.id %>" role="button">削除する</a>
        </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br>

    <%= form_for(@selectedData, url:{controller:'maches', action:'update'}) do |form| %>
        <div class="form-group">
            <label>自分のデッキ</label>
            <%= form.select :mydeck, @decks,
                {selected: @selectedData.mydeck}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
            <label>自分のスキル</label>
            <%= form.select :myskill, @skills,
                {selected: @selectedData.myskill}, {class: 'form-control'} %>
        </div>
        
        <div class="form-group">
            <label>相手のデッキ</label>
            <%= form.select :oppdeck, @decks,
                {selected: @selectedData.oppdeck}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
            <label>相手のスキル</label>
            <%= form.select :oppskill, @skills,
                {selected: @selectedData.oppskill}, {class: 'form-control'} %>
        </div>

        <div class="form-group">
            <% if @selectedData.victory == "勝ち" then %>
                <label><%= form.radio_button :victory, "勝ち", checked: true %>勝ち</label>
                <label><%= form.radio_button :victory, "負け" %>負け</label>
                <div class="form-group">
                    <label>DP増減</label><br>
                    <label>
                        <font size='5' id=dp_pm align='center'>+</font>
                        <%= form.text_field :dpChanging , value: @selectedData.dpChanging %>
                    </label>
                </div>
            <% else %>
                <label><%= form.radio_button :victory, "勝ち" %>勝ち</label>
                <label><%= form.radio_button :victory, "負け", checked: true %>負け</label>
                <div class="form-group">
                    <label>DP増減</label><br>
                    <label>
                        <font size='5' id=dp_pm align='center'> - </font>
                        <%= form.text_field :dpChanging , value: @selectedData.dpChanging %>
                    </label>
                </div>
            <% end %>
        </div>

        <%= form.submit "送信", class:"btn btn-primary" %>
    <% end %>

<% else %>
    <h1>対戦記録の修正</h1>
    <br>
    <p>別ユーザのデータを編集することはできません</p>
<% end %>


<script>
    $('#match_victory_勝ち').change(function(){
        $('#dp_pm').text("+")
    });
    $('#match_victory_負け').change(function(){
        $('#dp_pm').text(" - ")
    });
</script>
