<% if @account.id == @selectedData.playerid then %>
        <div class="float-left">
            <h1>記録の修正</h1>
        </div>
        <div class="float-right">
            <div class="mt-2">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">削除</button>
            </div>
        </div>
        <br><br>

    <!-- モーダルの設定 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">本当にこのデータを削除しますか？</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>削除したデータはもとには戻せません</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
            <a class="btn btn-danger" href="/delete/<%= @selectedData.id %>" role="button">削除する</a>
        </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <br>

    <%= form_for(@selectedData, url:{controller:'maches', action:'update'}) do |form| %>
        <div class="form-group">
            <label>自分のデッキ</label>
            <%= form.select :mydeck, @decks,
                {selected: @selectedData.mydeck}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
            <label>自分のスキル</label>
            <%= form.select :myskill, @skills,
                {selected: @selectedData.myskill}, {class: 'form-control'} %>
        </div>
        
        <div class="form-group">
            <label>相手のデッキ</label>
            <%= form.select :oppdeck, @decks,
                {selected: @selectedData.oppdeck}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
            <label>相手のスキル</label>
            <%= form.select :oppskill, @skills,
                {selected: @selectedData.oppskill}, {class: 'form-control'} %>
        </div>

        
        <% if @selectedData.victory == "勝ち" then %>
            <div class="form-group">
                <label>勝敗</label>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "勝ち", :class => 'form-check-input', checked: true%>勝ち</label>
                </div>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "負け", :class => 'form-check-input' %>負け</label>
                </div>
            </div>
        
            <div class="form-group">
                <label>DP増減</label>
                <div class="form-inline">
                    <i id=dp_plus class="fas fa-plus"></i>
                    <i id=dp_minus class="fas fa-minus"></i> &nbsp;
                    <%= form.text_field :dpChanging , value: "1000", class: 'form-control' %>
                </div>
            </div>
            <script> $('#dp_minus').hide(); </script>
        <% else %>
            <div class="form-group">
                <label>勝敗</label>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "勝ち", :class => 'form-check-input' %>勝ち</label>
                </div>
                <div class="form-check">
                    <label><%= form.radio_button :victory, "負け", :class => 'form-check-input', checked: true %>負け</label>
                </div>
            </div>

            <div class="form-group">
                <label>DP増減</label>
                <div class="form-inline">
                    <i id=dp_plus class="fas fa-plus"></i>
                    <i id=dp_minus class="fas fa-minus"></i> &nbsp;
                    <%= form.text_field :dpChanging , value: "1000", class: 'form-control' %>
                </div>
            </div>
            <script> $('#dp_plus').hide(); </script>
        <% end %>

        <%= form.submit "送信", class:"btn btn-primary" %>
    <% end %>

<% else %>
    <h1>対戦記録の修正</h1>
    <br>
    <p>別ユーザのデータを編集することはできません</p>
<% end %>


<script>
    $('#match_victory_勝ち').change(function(){
        $('#dp_plus').show();
        $('#dp_minus').hide();
    });
    $('#match_victory_負け').change(function(){
        $('#dp_plus').hide();
        $('#dp_minus').show();
    });

    $('#match_oppdeck').change(function(){
        $('#match_oppskill').val(gon.major_skill[$('#match_oppdeck').val()]);
    });
    $('#match_mydeck').change(function(){
        $('#match_myskill').val(gon.major_skill[$('#match_mydeck').val()]);
    });
</script>
