<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="./">KC Chart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="">記録<span class="sr-only">(現位置)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./mychart">個人</a>
        <li class="nav-item">
            <a class="nav-link" href="./totalchart">全体</a>
        </ul>
    </div>
</nav>

<h1>対戦の記録</h1>
<p>対戦結果を保存するためのページです</p>
<%= @deckList %>
<%= @skillList %>

<%= form_for(@match, url:{controller:'maches', action:'create'}) do |form| %>
    <div class="form-group">
        <label>自分のデッキ</label>
        <%= form.select :mydeck, 
            [["", "無記入"],
            ["アロマ"],
            ["ヴェンデット"],
            ["ES召喚獣"],
            ["水晶機巧"],
            ["剛鬼"],
            ["サイバー・ドラゴン", "サイドラ"],
            ["不知火"],
            ["超重武者"],
            ["ドラグニティ"],
            ["HERO"],
            ["BF"],
            ["ブラック・マジシャン", "ブラマジ"],
            ["青眼"],
            ["魔妖"],
            ["月光"],
            ["霊獣"],
            ["その他"]],
            {selected: @lastData.nil? ? "" : @lastData.mydeck}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
        <label>自分のスキル</label>
        <%= form.select :myskill,
            [["", "無記入"],
            ["あーばよ！"],
            ["頂に立つ者"],
            ["海の伝説"],
            ["オルタナティブ(白龍)", "オルタナ"],
            ["カモン！"],
            ["絆の力"],
            ["サイバー流奥義"],
            ["スリカエ"],
            ["ディスティニー・ドロー", 'ディスドロ'],
            ["ハーピィの狩場"],
            ["バランス"],
            ["粉砕！"],
            ["墓所封印"],
            ["レベル上昇"],
            ["罠戦術の使い手"],
            ["その他"]],
            {selected: @lastData.nil? ? "" : @lastData.myskill}, {class: 'form-control'} %>
    </div>
    
    <div class="form-group">
        <label>相手のデッキ</label>
        <%= form.select :oppdeck, 
            [["", "無記入"],
            ["アロマ"],
            ["ヴェンデット"],
            ["ES召喚獣"],
            ["水晶機巧"],
            ["剛鬼"],
            ["サイバー・ドラゴン", "サイドラ"],
            ["不知火"],
            ["超重武者"],
            ["ドラグニティ"],
            ["HERO"],
            ["BF"],
            ["ブラック・マジシャン", "ブラマジ"],
            ["青眼"],
            ["魔妖"],
            ["月光"],
            ["霊獣"],
            ["その他"]],
            {}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
        <label>相手のスキル</label>
        <%= form.select :oppskill,
            [["", "無記入"],
            ["あーばよ！"],
            ["頂に立つ者"],
            ["海の伝説"],
            ["オルタナティブ(白龍)", "オルタナ"],
            ["カモン！"],
            ["絆の力"],
            ["サイバー流奥義"],
            ["スリカエ"],
            ["ディスティニー・ドロー", 'ディスドロ'],
            ["ハーピィの狩場"],
            ["バランス"],
            ["粉砕！"],
            ["墓所封印"],
            ["レベル上昇"],
            ["罠戦術の使い手"],
            ["その他"]],
            {}, {class: 'form-control'} %>
    </div>

    <div class="form-group">
        <label><%= form.radio_button :victory, "勝ち",  checked: true%>勝ち</label>
        <label><%= form.radio_button :victory, "負け" %>負け</label>
    </div>

    <%= form.submit "送信", class:"btn btn-primary" %>
<% end %>