<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">D-Chart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="">記録<span class="sr-only">(現位置)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./me">個人</a>
        <li class="nav-item">
            <a class="nav-link" href="./total">全体</a>
        </ul>
    </div>
</nav>

<h1>対戦の記録</h1>
<p>対戦結果を保存するためのページです</p>

<%= form_for(@match, url:{controller:'maches', action:'create'}) do |form| %>
    <div class="form-group">
        <label>自分のデッキ</label>
        <%= form.select :mydeck, 
            [["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            {include_blank: true, selected: @lastData.mydeck}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
        <label>自分のスキル</label>
        <%= form.select :myskill,
            [["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            {include_blank: true, selected: @lastData.myskill}, {class: 'form-control'} %>
    </div>
    
    <div class="form-group">
        <label>相手のデッキ</label>
        <%= form.select :oppdeck, 
            [["ES召喚獣"],
            ["不知火"],
            ["水晶機巧"],
            ["サイバー・ドラゴン"],
            ["HERO"]],
            {include_blank: true}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
        <label>相手のスキル</label>
        <%= form.select :oppskill,
            [["ディスティニー・ドロー"],
            ["墓所封印"],
            ["レベル上昇"],
            ["サイバー流奥義"],
            ["スリカエ"]],
            {include_blank: true}, {class: 'form-control'} %>
    </div>

    <div class="form-group">
        <label><%= form.radio_button :victory, "勝ち",  checked: true%>勝ち</label>
        <label><%= form.radio_button :victory, "負け" %>負け</label>
    </div>

    <%= form.submit "送信", class:"btn btn-primary" %>
<% end %>