<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="#">KC Chart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">記録</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">個人<span class="sr-only">(現位置)</span></a>
        <li class="nav-item">
            <a class="nav-link" href="./total">全体</a>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-10">
        <h1>個人ページ</h1>
        <p>自分の戦績について図表化するページです</p>
    </div>
    <div class="col-md-2">
        <table class="table table-bordered">
            <tr>
            <td>対戦数</td>
            <td><%= @data.count %></td>
            </tr>
            <tr>
            <td>勝率</td>
            <td><%= (@data.where(victory: "勝ち").count.to_f * 100 / @data.count).round(1) %>%</td>
            </tr>
        </table>
    </div>
</div>


<div class="container text-white">
    <% oppdecks = @data.group(:oppdeck).count.sort {|a,b| b[1]<=>a[1]} %>
    <% mydecks = @data.group(:mydeck).count.sort {|a,b| b[1]<=>a[1]} %>
    <div class="row">
        <div class="col-md-6 border">
            <center><font color="black">デッキ分布</font></center>
            <%= pie_chart  oppdecks %>
        </div>
        <div class="col-md-6 border">
            <center><font color="black">DP推移</font></center>
            <% dp_line = [[0, 0]]
            num = 0
            if @data.count == 0 then
                dp_line = nil
            end
            @data.each do |obj|
                num += 1
                dp_line.push([num, obj.dp])
            end %>
            <%= line_chart  dp_line, curve: false, label: "DP" %>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
        <div class="mt-4">
            <center><font color="black">相性表</font></center>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <% oppdecks.each do |hash| %>
                        <td><%= hash[0] %></td>
                    <% end %>
                    <td>総計</td>
                </tr>
            </thead>
            <tbody>
                <% mydecks.each do |mhash| %>
                    <tr>
                        <td><%= mhash[0] %></td>
                        <% data_md = @data.where(mydeck:mhash[0])
                        oppdecks.each do |ohash|
                            data_mdod = data_md.where(oppdeck:ohash[0])
                            data_mdodv = data_mdod.where(victory:"勝ち") %>
                            <% if data_mdod.count == 0 then %>
                                <td></td>
                            <% else %>
                                <td><%= (data_mdodv.count * 100.to_f / data_mdod.count).round(1) %>%</td>
                            <% end %>
                        <% end %>
                        <% data_mdv = data_md.where(victory:"勝ち") %>
                        <td><%= (data_mdv.count.to_f * 100 / data_md.count).round(1) %>%</td>
                    </tr>
                <% end %>
            </tbody>
            </table>
        </div>
        </div>
    </div>
    
    <div class="row">
        <div class="table-responsive">
            <center><font color="black">直近の対戦履歴</font></center>
            <% last5 = @data.last(5) %>
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>自分デッキ</th>
                    <th>自分スキル</th>
                    <th>相手デッキ</th>
                    <th>相手スキル</th>
                    <th>勝敗</th>
                    <th>DP</th>
                </tr>
            </thead>
            <tbody>
                <% num = @data.count - 5 %>
                <% last5.each do |obj| %>
                    <% num += 1 %>
                    <tr>
                        <td><%= num %></td>
                        <td><%= obj.mydeck %></td>
                        <td><%= obj.myskill %></td>
                        <td><%= obj.oppdeck %></td>
                        <td><%= obj.oppskill %></td>
                        <td><%= obj.victory %></td>
                        <td><%= obj.dp %></td>
                    </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>
