<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1>マイページ</h1>
  <a href="/mychart/my_duel_data.csv" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> データをCSV形式でダウンロード</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <p>自分の戦績について図表化するページです</p>
  </div>

  
  <div class="col-xl-3 col-md-6 mb-4">
    <% order_data = @data.where.not(order: nil) %>
    <% if order_data.count > 0 then %>
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">先行率</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= (order_data.where(order: "先行").count.to_f * 100 / order_data.count).round(1) %>%</div>
              </div>
            <div class="col-auto">
              <i class="fas fa-dice fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-xl-3 col-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">対戦数</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @data.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-chess fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">勝率</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <% if @data.empty? then %>
              <% else %>
                  <%= (@data.where(victory: "勝ち").count.to_f * 100 / @data.count).round(1) %>%
              <% end %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-crown fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-xl-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">デッキ分布</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="deck_pie_mychart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DP推移</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="dpline_mychart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
        </div>
      </div>
    </div>
</div>

<!-- 相性表 -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">相性表</h6>
    </div>
    <div class="card-body">
        <div class="text-nowrap table-responsive">
        <table class="table table-bordered table-fixed table-compatibility" id="dataTable_compatibility" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td></td>
                <% @oppDeckArray.each do |obj| %>
                    <!-- カード画像表示 -->
                    <% if @deck_image.has_key?(obj)%>
                        <td><a href="/chart/<%= obj %>/">
                        <%= image_tag asset_path("card/#{@deck_image[obj]}"), :size =>"64x64" %>
                        </a></td>
                    <% else %>
                        <td cellpadding="5">　<%= obj %>　</td>
                    <% end %>
                <% end %>
            </tr>
            <% @myDeckArray.each do |obj1| %>
                <tr>
                <!-- カード画像表示 -->
                <% if @deck_image.has_key?(obj1)%>
                    <td><a href="/chart/<%= obj1 %>/">
                    <%= image_tag asset_path("card/#{@deck_image[obj1]}"), :size =>"64x64" %>
                    </a></td>
                <% else %>
                    <td cellpadding="5"><%= obj1 %></td>
                <% end %>
                <% @oppDeckArray.each do |obj2| %>
                    <% win_rate = @winRateHash[obj1][obj2] %>
                    <% if win_rate == -1 %>
                        <td></td>
                    <% elsif win_rate >= 55 %>
                        <td><font color='blue' ><%= win_rate %>%</font></td>
                    <% elsif win_rate <= 45 %>
                        <td><font color='red'><%= win_rate %>%</font></td>
                    <% else %>
                        <td><%= win_rate %>%</font></td>
                    <% end %>
                <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>

<!-- 対戦履歴 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">対戦履歴</h6>
  </div>
  <div class="card-body">
    <div class="text-nowrap table-responsive">
      <table class="table table-fixed table-matchresult" id="dataTable_match" width="100%" cellspacing="0">
        <thead>
          <th>#</th>
          <th>自分</th>
          <th>スキル</th>
          <th>相手</th>
          <th>スキル</th>
          <th>勝敗</th>
          <th>DP</th>
          <th></th>
        </thead>
        <tbody>
          <% num = 0 %>
          <% @data.each do |obj| %>
            <% num += 1 %>
              <tr>
                <!-- 番号 -->
                <td><%= num %></td>
                <!-- 自分のデッキ -->
                <% if @deck_image.has_key?(obj.mydeck)%>
                  <td><%= image_tag asset_path("card/#{@deck_image[obj.mydeck]}"), :size =>"48x48" %></td>
                <% else %>
                  <td><%= obj.mydeck %></td>
                <% end %>
                <!-- 自分のスキル -->
                <td><%= image_tag "skill.png", :size =>"24x24" %> <%= obj.myskill %></td>
                <!-- 相手のデッキ -->
                <% if @deck_image.has_key?(obj.oppdeck)%>
                  <td><%= image_tag asset_path("card/#{@deck_image[obj.oppdeck]}"), :size =>"48x48" %></td>
                <% else %>
                  <td><%= obj.oppdeck %></td>
                <% end %>
                <!-- 相手のスキル -->
                <td><%= image_tag "skill.png", :size =>"24x24" %> <%= obj.oppskill %></td>
                <!-- 勝敗 -->
                <td><%= obj.victory %></td>
                <!-- DP -->
                <td><%= obj.dp %></td>
                <!-- エディット -->
                <td><a href="/edit/<%= obj.id %>"><i class="fas fa-edit fa-1x"></i></a></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- DataTable Script -->
<script>
  $(document).ready(function() {
    $('#dataTable_match').DataTable({
      order: [ [ 0, "desc" ] ],
      "columnDefs": [ {
        "targets": [1,2,3,4,5,6,7],
        "orderable": false
      } ]
    });
  });
</script>

<!-- Draw Chart -->
<%= javascript_include_tag asset_path("maches/mychart.js") %>

<!-- DataTables -->
<%= javascript_include_tag asset_path("datatables/jquery.dataTables.min.js") %>
<%= javascript_include_tag asset_path("datatables/dataTables.bootstrap4.min.js") %>