<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1>マイページ</h1>
  <a href="/mychart/my_duel_data.csv" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> データをCSV形式でダウンロード</a>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-6 mb-4">
    <p>自分の戦績について図表化するページです</p>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">対戦数</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @data.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-chess fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">勝率</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">
              <% if @data.empty? then %>
              <% else %>
                  <%= (@data.where(victory: "勝ち").count.to_f * 100 / @data.count).round(1) %>%
              <% end %>
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-crown fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-xl-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">デッキ分布</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="deck_pie_mychart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">DP推移</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="dpline_mychart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
        </div>
      </div>
    </div>
</div>

<!-- 相性表 -->
<% oppdecks = @data.group(:oppdeck).count.sort {|a,b| b[1]<=>a[1]} %>
<% mydecks = @data.group(:mydeck).count.sort {|a,b| b[1]<=>a[1]} %>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">相性表</h6>
  </div>
  <div class="card-body">
    <div class="text-nowrap table-responsive">
      <table class="table table-bordered table-fixed table-compatibility" id="dataTable_compatibility" width="100%" cellspacing="0">
        <tbody>
          <tr>
            <td></td>
            <% oppdecks.each do |obj| %>
              <!-- カード画像表示 -->
              <% if @deck_image.has_key?(obj[0])%>
                <td><a class="showTooltip" href="/chart/<%= obj[0] %>">
                  <%= image_tag asset_path("/card/#{@deck_image[obj[0]]}"), :size =>"64x64" %>
                </a></td>
              <% else %>
                <td cellpadding="5">　<%= obj[0] %>　</td>
              <% end %>
            <% end %>
            <td>　総計　</td>
          </tr>
          <% mydecks.each do |mhash| %>
            <tr>
              <!-- カード画像表示 -->
              <% if @deck_image.has_key?(mhash[0])%>
                <td><a href="/chart/<%= mhash[0] %>">
                  <%= image_tag asset_path("/card/#{@deck_image[mhash[0]]}"), :size =>"64x64" %>
                </a></td>
              <% else %>
                <td cellpadding="5"><%= mhash[0] %></td>
              <% end %>

              <% data_md = @data.where(mydeck:mhash[0])
              oppdecks.each do |ohash|
                data_mdod = data_md.where(oppdeck:ohash[0])
                data_mdodv = data_mdod.where(victory:"勝ち") %>
                <% if data_mdod.count == 0 then %>
                  <td></td>
                <% else %>
                  <% win_rate = (data_mdodv.count * 100.to_f / data_mdod.count).round(1) %>
                  <% if win_rate >= 55 then %>
                    <td><font color='blue' ><%= win_rate %>%</font></td>
                  <% elsif win_rate <= 45 then %>
                    <td><font color='red'><%= win_rate %>%</font></td>
                  <% else %>
                    <td><%= win_rate %>%</font></td>
                  <% end %>
                <% end %>
              <% end %>
              <% data_mdv = data_md.where(victory:"勝ち") %>
              <% win_rate = (data_mdv.count.to_f * 100 / data_md.count).round(1) %>
              <% if win_rate >= 55 then %>
                <td><font color='blue'><%= win_rate %>%</font></td>
              <% elsif win_rate <= 45 then %>
                <td><font color='red'><%= win_rate %>%</font></td>
              <% else %>
                <td><%= win_rate %>%</td>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td>総計</td>
            <% oppdecks.each do |ohash|
              data_od = @data.where(oppdeck:ohash[0])
              data_odv = data_od.where(victory:"勝ち") %>
              <% if data_od.count == 0 then %>
                <td></td>
              <% else %>
                <% win_rate = (data_odv.count * 100.to_f / data_od.count).round(1) %>
                <% if win_rate >= 55 then %>
                  <td><font color='blue'><%= win_rate %>%</font></td>
                <% elsif win_rate <= 45 then %>
                  <td><font color='red'><%= win_rate %>%</font></td>
                <% else %>
                  <td><%= win_rate %>%</td>
                <% end %>
              <% end %>
            <% end %>
            <% if @data.count == 0 then %>
              <td></td>
            <% else %>
              <% win_rate = (@data.where(victory:"勝ち").count * 100.to_f / @data.count).round(1) %>
              <% if win_rate >= 55 then %>
                <td><font color='blue'><%= win_rate %>%</font></td>
              <% elsif win_rate <= 45 then %>
                <td><font color='red'><%= win_rate %>%</font></td>
              <% else %>
                <td><%= win_rate %>%</td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- 対戦履歴 -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">対戦履歴</h6>
  </div>
  <div class="card-body">
    <div class="text-nowrap table-responsive">
      <table class="table table-fixed table-matchresult" id="dataTable_match" width="100%" cellspacing="0">
        <thead>
          <th>#</th>
          <th>自分</th>
          <th>スキル</th>
          <th>相手</th>
          <th>スキル</th>
          <th>勝敗</th>
          <th>DP</th>
          <th></th>
        </thead>
        <tbody>
          <% num = 0 %>
          <% @data.each do |obj| %>
            <% num += 1 %>
              <tr>
                <!-- 番号 -->
                <td><%= num %></td>
                <!-- 自分のデッキ -->
                <% if @deck_image.has_key?(obj.mydeck)%>
                  <td><%= image_tag asset_path("/card/#{@deck_image[obj.mydeck]}"), :size =>"48x48" %></td>
                <% else %>
                  <td><%= obj.mydeck %></td>
                <% end %>
                <!-- 自分のスキル -->
                <td><%= image_tag asset_path("/skill"), :size =>"24x24" %> <%= obj.myskill %></td>
                <!-- 相手のデッキ -->
                <% if @deck_image.has_key?(obj.oppdeck)%>
                  <td><%= image_tag asset_path("/card/#{@deck_image[obj.oppdeck]}"), :size =>"48x48" %></td>
                <% else %>
                  <td><%= obj.oppdeck %></td>
                <% end %>
                <!-- 相手のスキル -->
                <td><%= image_tag asset_path("/skill.png"), :size =>"24x24" %> <%= obj.oppskill %></td>
                <!-- 勝敗 -->
                <td><%= obj.victory %></td>
                <!-- DP -->
                <td><%= obj.dp %></td>
                <!-- エディット -->
                <td><a href="/edit/<%= obj.id %>"><i class="fas fa-edit fa-1x"></i></a></td>
              </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- DataTable Script -->
<script>
  $(document).ready(function() {
    $('#dataTable_match').DataTable({
      order: [ [ 0, "desc" ] ],
      "columnDefs": [ {
        "targets": [1,2,3,4,5,6,7],
        "orderable": false
      } ]
    });
  });
</script>

<!-- Draw Chart -->
<script src="maches/mychart.js"></script>

<!-- DataTables -->
<script src="datatables/jquery.dataTables.min.js"></script>
<script src="datatables/dataTables.bootstrap4.min.js"></script>