<% card_image = {
    "HERO":"hero.jpg", 
    "ES召喚獣":"elementsaber.jpg", 
    "サイドラ":"cyber-dragon.jpg",
    "ブラマジ":"black-magician.jpg",
    "BF":"blackwing.jpg",
    "青眼":"blue-eyes.jpg",
    "ネオス":"neos.jpg",
    "霊獣":"ritual-beast.jpg",
    "不知火":"shiranui.jpg",
    "ドラグニティ":"dragunity.jpg",
    "ウィッチクラフト":"witchcraft.jpg"} %>


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="./">KC Chart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">記録</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="">個人<span class="sr-only">(現位置)</span></a>
        <li class="nav-item">
            <a class="nav-link" href="./totalchart">全体</a>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-md-10">
        <h1>個人ページ</h1>
        <p>自分の戦績について図表化するページです</p>
        <p><%= link_to('全件データをCSV形式でダウンロード','/mychart/my_duel_data.csv',{format: :csv}) %></p>
    </div>
    <div class="col-md-2">
        <table class="table table-bordered">
            <tr>
            <td>対戦数</td>
            <td><%= @data.count %></td>
            </tr>
            <tr>
            <td>勝率</td>
            <% if @data.empty? then %>
                <td><%= "" %></td>
            <% else %>
                <td><%= (@data.where(victory: "勝ち").count.to_f * 100 / @data.count).round(1) %>%</td>
            <% end %>
            </tr>
        </table>
    </div>
</div>

<% oppdecks = @data.group(:oppdeck).count.sort {|a,b| b[1]<=>a[1]} %>
<% mydecks = @data.group(:mydeck).count.sort {|a,b| b[1]<=>a[1]} %>
<div class="row">
    <div class="col-md-6 border">
        <!-- amCharts javascript code -->
		<script type="text/javascript">
			AmCharts.makeChart("piechart",
				{
					"type": "pie",
					"balloonText": "[[title]]<br><span style='font-size:14px'><b>[[percents]]%</b></span>",
					"labelRadius": 18,
					"minRadius": 100,
					"radius": 0,
					"pullOutEffect": "elastic",
					"startEffect": "easeInSine",
					"titleField": "category",
					"valueField": "column-1",
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": false,
						"align": "center",
						"labelWidth": 0,
						"markerType": "circle",
						"valueText": ""
					},
					"titles": [
						{
							"id": "Title-1",
							"text": "デッキ分布"
						}
					],
					"dataProvider": gon.oppdecks2
				}
			);
		</script>

        <div id="piechart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
    </div>
    <div class="col-md-6 border">
    <script type="text/javascript">
        AmCharts.makeChart("linechart",
            {
                "type": "serial",
                "categoryField": "category",
                "zoomOutButtonPadding": 9,
                "zoomOutButtonTabIndex": -3,
                "startDuration": 1,
                "startEffect": "easeInSine",
                "theme": "default",
                "categoryAxis": {
                    "gridPosition": "start",
                    "autoGridCount": false
                },
                "trendLines": [],
                "graphs": [
                    {
                        "balloonText": "対戦数 :[[category]]<br>DP:[[value]]",
                        "bullet": "round",
                        "bulletAlpha": 0,
                        "id": "AmGraph-1",
                        "markerType": "circle",
                        "periodSpan": 0,
                        "tabIndex": 0,
                        "title": "graph 1",
                        "valueField": "column-1"
                    }
                ],
                "guides": [],
                "valueAxes": [
                    {
                        "id": "ValueAxis-1",
                        "title": "DP"
                    }
                ],
                "allLabels": [],
                "balloon": {},
                "legend": {
                    "enabled": false,
                    "bottom": 0,
                    "useGraphSettings": true
                },
                "titles": [
                    {
                        "id": "Title-1",
                        "size": 15,
                        "text": "DP推移"
                    }
                ],
                "dataProvider": gon.dp_line
            }
        );
        </script>
        <div id="linechart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
    </div>
</div>

<div class="mt-4">
    <center>相性表</center>
    <div class="row">
        <div class='text-nowrap table-responsive'>
            <table class="table table-bordered table-fixed table-compatibility">
            <thead>
                <tr>
                    <td></td>
                    <% oppdecks.each do |obj| %>
                        <!-- カード画像表示 -->
                        <% if card_image.has_key?(obj[0].to_sym)%>
                            <td><img src=<%= "/assets/card/#{card_image[obj[0].to_sym]}" %> width="64" height="64" alt=""></td>
                        <% else %>
                            <td><%= obj[0] %></td>
                        <% end %>
                    <% end %>
                    <td>総計</td>
                </tr>
            </thead>
            <tbody>
                <% mydecks.each do |mhash| %>
                    <tr>
                        <!-- カード画像表示 -->
                        <% if card_image.has_key?(mhash[0].to_sym)%>
                            <td><img src=<%= "/assets/card/#{card_image[mhash[0].to_sym]}" %> width="64" height="64" alt=""></td>
                        <% else %>
                            <td><%= mhash[0] %></td>
                        <% end %>

                        <% data_md = @data.where(mydeck:mhash[0])
                        oppdecks.each do |ohash|
                            data_mdod = data_md.where(oppdeck:ohash[0])
                            data_mdodv = data_mdod.where(victory:"勝ち") %>
                            <% if data_mdod.count == 0 then %>
                                <td></td>
                            <% else %>
                                <td><%= (data_mdodv.count * 100.to_f / data_mdod.count).round(1) %>%</td>
                            <% end %>
                        <% end %>
                        <% data_mdv = data_md.where(victory:"勝ち") %>
                        <td><%= (data_mdv.count.to_f * 100 / data_md.count).round(1) %>%</td>
                    </tr>
                <% end %>
                <tr>
                    <td>総計</td>
                    <% oppdecks.each do |ohash|
                        data_od = @data.where(oppdeck:ohash[0])
                        data_odv = data_od.where(victory:"勝ち") %>
                        <% if data_od.count == 0 then %>
                            <td></td>
                        <% else %>
                            <td><%= (data_odv.count * 100.to_f / data_od.count).round(1) %>%</td>
                        <% end %>
                    <% end %>
                    <% if @data.count == 0 then %>
                        <td></td>
                    <% else %>
                        <td><%= (@data.where(victory:"勝ち").count * 100.to_f / @data.count).round(1) %>%</td>
                    <% end %>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mt-4">
    <p class="text-center">直近の対戦履歴</p>
    <div class="row">
        <% last5 = @data.last(5) %>
        <div class='text-nowrap table-responsive'>
            <table class="table table-fixed table-matchresult">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>自分</th>
                    <th></th>
                    <th></th>
                    <th>相手</th>
                    <th></th>
                    <th>勝敗</th>
                    <th>DP</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% num = @data.count <= 5 ? 0 : @data.count - 5 %>
                <% last5.each do |obj| %>
                    <% num += 1 %>
                    <tr>
                        <td><%= num %></td>
                        <!-- カード画像表示 -->
                        <% if card_image.has_key?(obj.mydeck.to_sym)%>
                            <td><img src=<%= "/assets/card/#{card_image[obj.mydeck.to_sym]}" %> width="48" height="48" alt=""></td>
                        <% else %>
                            <td><%= obj.mydeck %></td>
                        <% end %>
                        <td></td>
                        <td><img src="/assets/skill.png" width="24" height="24" alt=""> <%= obj.myskill %></td>
                        <!-- カード画像表示 -->
                        <% if card_image.has_key?(obj.oppdeck.to_sym)%>
                            <td><img src=<%= "/assets/card/#{card_image[obj.oppdeck.to_sym]}" %> width="48" height="48" alt=""></td>
                        <% else %>
                            <td><%= obj.oppdeck %></td>
                        <% end %>
                        <td></td>
                        <td><img src="/assets/skill.png" width="24" height="24" alt=""> <%= obj.oppskill %></td>
                        <td><%= obj.victory %></td>
                        <td><%= obj.dp %></td>
                        <td><a href="/edit/<%= obj.id %>">修正</a></td>
                    </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>
