<h1>トータルページ</h1>
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-6 mb-4">
        <p>ユーザー全体の対戦記録をまとめて図表化するページです</p>
        <p>データ数：<%= @data.count %></p>
        <p>今回、<a href="https://duellinksunion.com/">DLU</a>さんに定期レポート出して頂きました</p>
    </div>

    <div class="col-xl-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="row no-gutters align-items-center">
                <div class="col-md-1">
                    <b>DP</b>
                </div>
                <div class="col-md-4">
                    <input type="text" value="<%= dprange_str()[0] %>" id="text1" class="form-control">
                </div>
                <div class="col-md-1">
                <p class="text-center"><font size="6">~</font><p>
                </div>
                <div class="col-md-4">
                    <input type="text" value="<%= dprange_str()[1] %>" id="text2" class="form-control">
                </div>
                </div>
            </div>
            <div class="col-auto">
                <button type="button" id="button1" class="btn btn-primary">絞り込み</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script>
    $('#button1').click(function(){
        $.ajax({
            url:'/select_dprange', type:"POST", data:{dprange1:$('#text1').val(), dprange2:$('#text2').val()}
        }).done(function(html) {
            location.reload();
        }).fail(function() {
            alert('エラーが起きました');
        });
    })
</script>

<div class="row">
    <div class="col-xl-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">デッキ分布</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div id="deck_pie_totalchart" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">直近2時間のデッキ分布</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
            <div id="deck_pie_recent" style="width: 100%; height: 300px; background-color: #FFFFFF;" ></div>
            </div>
        </div>
    </div>
</div>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">相性表</h6>
    </div>
    <div class="card-body">
        <div class="text-nowrap table-responsive">
        <table class="table table-bordered table-fixed table-compatibility" id="dataTable_compatibility" width="100%" cellspacing="0">
            <tbody>
            <tr>
                <td></td>
                <% @deckArray.each do |obj| %>
                    <!-- カード画像表示 -->
                    <% if @deck_image.has_key?(obj)%>
                        <td><a href="/chart/<%= obj[0] %>">
                        <%= image_tag asset_path("card/#{@deck_image[obj]}"), :size =>"64x64" %>
                        </a></td>
                    <% else %>
                        <td cellpadding="5">　<%= obj %>　</td>
                    <% end %>
                <% end %>
            </tr>
            <% @deckArray.each do |obj1| %>
                <tr>
                <!-- カード画像表示 -->
                <% if @deck_image.has_key?(obj1)%>
                    <td><a href="/chart/<%= obj1 %>">
                    <%= image_tag asset_path("card/#{@deck_image[obj1]}"), :size =>"64x64" %>
                    </a></td>
                <% else %>
                    <td cellpadding="5"><%= obj1 %></td>
                <% end %>
                <% @deckArray.each do |obj2| %>
                    <% win_rate = @winRateHash[obj1][obj2] %>
                    <% if win_rate == -1 %>
                        <td></td>
                    <% elsif win_rate >= 55 %>
                        <td><font color='blue' ><%= win_rate %>%</font></td>
                    <% elsif win_rate <= 45 %>
                        <td><font color='red'><%= win_rate %>%</font></td>
                    <% else %>
                        <td><%= win_rate %>%</font></td>
                    <% end %>
                <% end %>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">スキル分布</h6>
    </div>
    <div class="card-body">
        <div class="text-nowrap table-responsive">
        <table class="table table-bordered table-fixed table-skilllist" width="100%" cellspacing="0">
            <thead>
                <tr>
                <td></td>
                <td>1位</td>
                <td>2位</td>
                <td>3位</td>
                </tr>
            </thead>
            <tbody>
                <% ods = @data.group(:oppdeck).group(:oppskill).count.sort {|a,b| b[1]<=>a[1]} %>
                <% @deckArray.each do |obj| %>
                    <tr>
                    <!-- カード画像表示 -->
                    <% if @deck_image.has_key?(obj)%>
                        <td><%= image_tag asset_path("card/#{@deck_image[obj]}"), :size =>"64x64" %></td>
                    <% else %>
                        <td cellpadding="5"><%= obj %></td>
                    <% end %>
                    <% data_od = @data.where(oppdeck: obj) %>
                    <% i = 0 %>
                    <% data_od.group(:oppskill).count.sort {|a,b| b[1]<=>a[1]}.each do |skill| %>
                        <td><%= skill[0] %><br><%= (skill[1] * 100.to_f / data_od.count).round(1) %>%</td>
                        <% i += 1
                        if i >= 3 then
                            break;
                        end %>
                    <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>

<!-- Draw Chart -->
<%= javascript_include_tag "maches/totalchart.js" %>