<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="./">KC Chart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./form">記録</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./mychart">個人</a>
        <li class="nav-item active">
            <a class="nav-link" href="">全体<span class="sr-only">(現位置)</span></a>
        </ul>
    </div>
</nav>

<h1>全体ページ</h1>
<p>ユーザー全体の対戦記録をまとめて図表化するページです</p>


<% oppdecks = @data.group(:oppdeck).count.sort {|a,b| b[1]<=>a[1]} %>
<% mydecks = @data.group(:mydeck).count.sort {|a,b| b[1]<=>a[1]} %>
<div class="row">
    <div class="col-md-6 border">
        <center>デッキ分布</center>
        <%
        others_val = 0
        oppdecks2 = Hash.new()
        i = 0
        oppdecks.each{|key, value|
            if !(key == "その他") && (i < 9) then
                oppdecks2[key] = value
                i += 1
            else
                others_val += value
            end
        }
        if !(others_val == 0) then
            oppdecks2["その他(少数テーマ含む)"] = others_val
        end
        %>
        <%= pie_chart  oppdecks2 %>
    </div>
    <div class="col-md-6 border">
        <center>直近2時間のデッキ分布</center>
        <%
        rd = @recentData.count.sort {|a,b| b[1]<=>a[1]}
        others_val = 0
        rd2 = Hash.new()
        i = 0
        rd.each{|key, value|
            if !(key == "その他") && (i < 9) then
                rd2[key] = value
                i += 1
            else
                others_val += value
            end
        }
        if !(others_val == 0) then
            rd2["その他(少数テーマ含む)"] = others_val
        end
        %>
        <%= pie_chart rd2 %>
    </div>
</div>

<div class="mt-4">
    <center>相性表</center>
    <div class="row">
        <div class='text-nowrap table-responsive'>
            <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                    <td></td>
                    <% oppdecks.each do |hash| %>
                        <td><%= hash[0] %></td>
                    <% end %>
                        <td>総計</td>
                </tr>
            </thead>
            <tbody>
                <% mydecks.each do |mhash| %>
                    <tr>
                        <td><%= mhash[0] %></td>
                        <% data_md = @data.where(mydeck:mhash[0]) %>
                        <% oppdecks.each do |ohash| %>
                            <% data_mdod = data_md.where(oppdeck:ohash[0]) %>
                            <% data_mdodv = data_mdod.where(victory:"勝ち") %>
                            <% if data_mdod.count == 0 then %>
                                <td></td>
                            <% else %>
                                <td><%= (data_mdodv.count * 100.to_f / data_mdod.count).round(1) %>%</td>
                            <% end %>
                        <% end %>
                        <% data_mdv = data_md.where(victory:"勝ち") %>
                        <td><%= (data_mdv.count.to_f * 100 / data_md.count).round(1) %>%</td>
                    </tr>
                <% end %>
                <tr>
                    <td>総計</td>
                    <% oppdecks.each do |ohash|
                        data_od = @data.where(oppdeck:ohash[0])
                        data_odv = data_od.where(victory:"勝ち") %>
                        <% if data_od.count == 0 then %>
                            <td></td>
                        <% else %>
                            <td><%= (data_odv.count * 100.to_f / data_od.count).round(1) %>%</td>
                        <% end %>
                    <% end %>
                    <% if @data.count == 0 then %>
                        <td></td>
                    <% else %>
                        <td><%= (@data.where(victory:"勝ち").count * 100.to_f / @data.count).round(1) %>%</td>
                    <% end %>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<div class="mt-4">
    <center>スキル分布</center>
    <div class="row">
        <div class='text-nowrap table-responsive'>
            <table class="table table-bordered table-fixed">
            <thead>
                <tr>
                <td></td>
                <td>1位</td>
                <td>2位</td>
                <td>3位</td>
                </tr>
            </thead>
            <tbody>
                <% ods = @data.group(:oppdeck).group(:oppskill).count.sort {|a,b| b[1]<=>a[1]} %>
                <% oppdecks.each do |hash| %>
                    <tr>
                    <td><%= hash[0] %></td>
                    <% data_od = @data.where(oppdeck: hash[0]) %>
                    <% i = 0 %>
                    <% data_od.group(:oppskill).count.sort {|a,b| b[1]<=>a[1]}.each do |skill| %>
                        <td><%= skill[0] %> : <%= (skill[1] * 100.to_f / data_od.count).round(1) %>%</td>
                        <% i += 1
                        if i >= 3 then
                            break;
                        end %>
                    <% end %>
                    </tr>
                <% end %>
            </tbody>
            </table>
        </div>
    </div>
</div>