<!-- Masthead-->
<header class="masthead">
    <div class="container" bgcolor="white">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Page heading-->
                <h1 class="mb-5"><b><font color="blue">KCカップ</font>の<font color="blue">対戦データ</font>を<br>まとめて<font color="blue">図表化</font></b></h1>
                <div class="mb-5">
                    ユーザー登録だけで、簡単に記録と閲覧が行えます<br>
                    過去のデータは<a href="/past_kc">こちら</a>から閲覧できます
                </div>
                <%= link_to "新規登録", new_account_registration_path, class: 'btn btn_03' %>
            </div>
            <div class="col-lg-6 order-lg-2 showcase-img" style="background-image: url(<%= asset_path("index/chart.png") %>)"></div>
        </div>
    </div>
</header>
<!-- Image Showcases-->
<hr class="style15" data-symbol="機能紹介">
<section class="showcase">
    <div class="container-fluid p-0 bg-gradient-primary">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path("index/record.png") %>)"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="color:#ffffff;">
                <h2>対戦の記録</h2>
                <p class="lead mb-0">ここで記録した内容がグラフに反映されます。デッキやスキルの自動入力の機能があり、数百回の記録でも負担になりにくいように工夫されています。</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= asset_path("index/mypage.png") %>)"></div>
            <div class="col-lg-6 my-auto showcase-text" style="color:#ffffff;">
                <h2>マイページ</h2>
                <p class="lead mb-0">自分の対戦記録がグラフにまとめられて表示されるページです。デッキ分布、DP推移グラフ、勝率などが表示されます。</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path("index/totalpage.png") %>)"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text" style="color:#ffffff;">
                <h2>トータルページ</h2>
                <p class="lead mb-0">全ユーザーの記録がまとめられて図表化されています。日付やDP帯ごとに絞り込みができるので環境の動向がよく分かります。</p><br>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: right">
        <p>※画像はPC版のみですが、スマホにも対応しています</p>
    </div>
</section><br><br>
<br><br><br><br><br><br>


<style>
hr.style15 {
	border-top: 4px double #244CBF;
    color: #244CBF;
	text-align: center;
    margin: 40px 0px;
}
hr.style15:after {
	content: attr(data-symbol);
	display: inline-block;
	position: relative;
	top: -30px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #244CBF;
	font-size: 36px;
    font-weight: 800;
}

.red-link {
    color: #FF9933;
}
.red-link:hover {
    color: #FF9933;
}


a.btn_03 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    position: relative;
    background: #009D5B;
    border: 1px solid #009D5B;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 0 45px 0 25px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 1.3;
    text-align: left;
    text-decoration: none;
    transition-duration: 0.3s;
}
a.btn_03:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -6px;
}
a.btn_03:hover {
    background: #fff;
    color: #009D5B;
}
a.btn_03:hover:before {
    border-top: 2px solid #009D5B;
    border-right: 2px solid #009D5B;
}
</style>