<div class="container mt-4">
    <div class="row">
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KC2020Nov/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/karakuri.jpg"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2020年 11月</font></h4>
                    <p class="card-text">環境デッキ：<br>カラクリ、罠不知火、語不知火、ドラグニティ、水晶機巧等</p>

                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KC2021Feb/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/noble-knights.jpg"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2021年 2月</font></h4>
                    <p class="card-text">環境デッキ：<br>聖騎士、オノマト、運命デスぺ、サンダー・ドラゴン等</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KC2021Apr/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/scep-darkload.png"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2021年 4月</font></h4>
                    <p class="card-text">環境デッキ：<br>セプスロ堕天使、FA堕天使、オノマト、青眼等</p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KCGT2021/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/resonator.jpg"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2021年 6月</font></h4>
                    <p class="card-text">環境デッキ：<br>リゾネーター、ハーピィ、サンダー・ドラゴン、オノマト等</p>

                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KC2021Sep/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/onomat.jpg"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2021年 9月</font></h4>
                    <p class="card-text">環境デッキ：<br>オノマト、サンダー・ドラゴン、ガイア、ハーピィ等</p>
                </div>
            </a>
        </div>
        <div class="col-6 col-md-4 card-box">
            <a href="/past_kc/KC2021Nov/" class="card mb-4 black-link">
                <%= image_tag asset_path("card/harpie.jpg"), :class => "img-fluid" %>
                <div class="card-body">
                    <h4 class="card-title"><font color="#ff9933">2021年 11月</font></h4>
                    <p class="card-text">環境デッキ：<br>ハーピィ、ガイア、時計塔HERO、幻奏等</p>
                </div>
            </a>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>


<style>
    .black-link {
        color: black;
    }
    .black-link:hover {
        color: black;
        text-decoration:none;
    }

    .card-box .card {
        transition:box-shadow 0.3s, transform 0.3s;
        box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
    }
    
    .card-box .card:hover {
        box-shadow:0 12px 28px rgba(0, 0, 0, 0.24);
        transform:translate(0, -8px);
    }
</style>