<!DOCTYPE html>
<html>
  <head>
    <title>KC Chart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= include_gon %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>

    <!-- amCharts javascript sources -->
		<script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>

    <style>
      .table-fixed th:first-child, td:first-child {
        position: sticky;  position: -webkit-sticky;
        left: 0;
      }
      .table-fixed tr:nth-of-type(odd) th:first-child {
        background-color: #fff;
      }
      .table-fixed tr:nth-of-type(odd) td:first-child {
        background-color: #fff;
      }
      .table-fixed tr:nth-of-type(even) td:first-child {
        background-color: #fff;
      }

      .table-compatibility td{
        height: 64px;
        padding: 0px;
        vertical-align: middle;
        text-align: center;
      }

      .table-matchresult td{
        padding: 0px 10px;
        vertical-align: middle;
      }
    </style>
  
  </head>

  <body>
    <%= yield %>

    <!-- Custom scripts for all pages-->
    <script src="/assets/sb-admin-2/sb-admin-2.min.js"></script>
  </body>
</html>
