<!DOCTYPE html>
<html>
  <head>
    <!-- Google AdSense -->
    <script data-ad-client="ca-pub-3750978027025894" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MEL7W52L9D"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MEL7W52L9D');
    </script>
    
    <title>KC Chart</title>
    <%= favicon_link_tag('favicon.ico') %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <%= include_gon %>

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "application" %>

    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/serial.js"></script>

    <!-- hierarchy-select -->
    <%= javascript_include_tag asset_path("hierarchy-select/hierarchy-select.min.js") %>

    <style>
      .table-fixed th:first-child, td:first-child {
        position: sticky;  position: -webkit-sticky;
        left: 0;
      }
      .table-fixed tr:nth-of-type(odd) th:first-child {
        background-color: #fff;
      }
      .table-fixed tr:nth-of-type(odd) td:first-child {
        background-color: #fff;
      }
      .table-fixed tr:nth-of-type(even) td:first-child {
        background-color: #fff;
      }

      .table-compatibility td{
        height: 64px;
        padding: 0px;
        vertical-align: middle;
        text-align: center;
      }

      .table-matchresult td{
        height: 48px;
        padding: 0px 10px;
        vertical-align: middle;
      }

      .table-skilllist td{
        height: 64px;
        padding: 0px 10px;
        vertical-align: middle;
        text-align: center;
      }

      #pibot-mydeck {
        vertical-align: top;
      }

      h1{
        font-family: 'SmartFontUI';
      }
    </style>
  
  </head>

  <body>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./mychart">
        <%= image_tag asset_path("logo/logo2-2.png"), :height =>"40px" %>
        <div class="sidebar-brand-text mx-3">KC Chart</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Heading -->
      <div class="sidebar-heading">
        Pages
      </div>

      <!-- Nav Item - Form -->
      <li class="nav-item">
        <a class="nav-link" href="./form">
          <i class="fas fa-fw fa-paper-plane"></i>
          <span>Record</span></a>
      </li>

      <!-- Nav Item - My Charts -->
      <li class="nav-item">
        <a class="nav-link" href="./mychart">
          <i class="fas fa-fw fa-user"></i>
          <span>My Page</span></a>
      </li>

      <!-- Nav Item - Total Charts -->
      <li class="nav-item">
        <a class="nav-link" href="./totalchart">
          <i class="fas fa-fw fa-users"></i>
          <span>Total Page</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
    
    <script>
      <!-- 画面幅が小さいときにサイドバー隠す -->
      $(document).ready(function(){
        if ($(window).width() < 576 && !$(".sidebar").hasClass("toggled")) {
          $("body").addClass("sidebar-toggled");
          $(".sidebar").addClass("toggled");
          $('.sidebar .collapse').collapse('hide');
        };  
      });

      <!-- 現在のナビゲーションをアクティブにする -->
      $(document).ready(function() {
        var path = location.pathname.split('/');
        var endPath = path[path.length-1];
        $('ul#accordionSidebar li a[href$="./'+endPath+'"]').parent().addClass('active');
      });
    </script>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- DC選択 -->
            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="kc-dropdown"><%= dc() %></button>
              <ul class="dropdown-menu dropdown-menu-right">
                <!-- <li><button class="dropdown-item select_kc_links" value="KCGT2020">KCGT2020</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2020Sep">KC2020Sep</button></li> -->
                <li><button class="dropdown-item" value="">--Duel Links--</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2020Nov">KC2020Nov</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2021Feb">KC2021Feb</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2021Apr">KC2021Apr</button></li>
                <li><button class="dropdown-item select_kc_links" value="KCGT2021">KCGT2021</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2021Sep">KC2021Sep</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2021Nov">KC2021Nov</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2022Feb">KC2021Feb</button></li>
                <li><button class="dropdown-item select_kc_links" value="KC2022Apr">KC2021Apr</button></li>
                <li><button class="dropdown-item select_kc_links" value="KCGT2022">KCGT2022</button></li>
                <li><button class="dropdown-item" value="">--Master Duel--</button></li>
                <li><button class="dropdown-item select_kc_master" value="DC2022Aug">Duelist Cup</button></li>
              </ul>
            </div>
            <button type="button" class="btn btn-outline-primary" id="searchButton" data-toggle="modal" data-target="#searchModal">絞り込み</button>

            <script>
              <!-- DC選択のスクリプト -->
              $(function(){
                $('.select_kc_links').click(function(){
                  var path = location.pathname.split('/');
                  var endPath = path[path.length-1];
                  location.search = "";
                  location.pathname = 'links/' + $(this).attr('value') + '/' + endPath;
                })
                $('.select_kc_master').click(function(){
                  var path = location.pathname.split('/');
                  var endPath = path[path.length-1];
                  location.search = "";
                  location.pathname = 'master/' + $(this).attr('value') + '/' + endPath;
                })
              });
            </script>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <%= yield %>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div>
              お問い合わせは&nbsp;
              <a href="https://twitter.com/conconClasher">私のTwitter</a>&nbsp;へ
              </div>
            <%= link_to('ログアウト', destroy_account_session_path, :method => :delete) %>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- モーダルの設定 -->
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="searchModalLabel">絞り込み</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <h4>先後</h4>
          <div class="form-group">
            <div class="tab-wrap">
              <% if @order == "first" %>
                <input type="checkbox" id="checkbox_first" class="tab-switch" checked><label class="tab-label1" for="checkbox_first">先行</label>
              <% else %>
                <input type="checkbox" id="checkbox_first" class="tab-switch"><label class="tab-label1" for="checkbox_first">先行</label>
              <% end %>
              <% if @order == "second" %>
                <input type="checkbox" id="checkbox_second" class="tab-switch" checked><label class="tab-label2" for="checkbox_second">後攻</label>
              <% else %>
                <input type="checkbox" id="checkbox_second" class="tab-switch"><label class="tab-label2" for="checkbox_second">後攻</label>
              <% end %>
            </div>
          </div>
          <br>
          <h4>DP</h4>
          Min
          <input type="number" id="dpMin" class="form-control" value=<%= @dpMin != nil ? @dpMin : "" %>>
          Max
          <input type="number" id="dpMax" class="form-control" value=<%= @dpMax != nil ? @dpMax : "" %>>
          <br><br>
          <h4>時刻</h4>
          Min
          <input type="datetime-local" id="timeMin" class="form-control" min=<%= @TIMEMIN %> max=<%= @TIMEMAX %> value=<%= @timeMin != nil ? @timeMin : @TIMEMIN %>>
          Max
          <input type="datetime-local" id="timeMax" class="form-control" min=<%= @TIMEMIN %> max=<%= @TIMEMAX %> value=<%= @timeMax != nil ? @timeMax : @TIMEMAX %>>
        </div>
        <div class="modal-footer">
          <button type="button" id="reset" class="btn btn-secondary">リセット</button>
          <button type="button" id="search" class="btn btn-primary">検索</button>
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
    $(function(){
      $('#search').click(function(){
        search = 'dpMin='+$('#dpMin').val()+'&dpMax='+$('#dpMax').val()+'&timeMin='+$('#timeMin').val()+'&timeMax='+$('#timeMax').val();
        if(checkbox_first.checked && !checkbox_second.checked){
          search = search + "&order=first";
        }
        if(!checkbox_first.checked && checkbox_second.checked){
          search = search + "&order=second";
        }
        location.search = search;
      })
      $('#reset').click(function(){
        location.search = "";
      })
    });
  </script>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Custom scripts for all pages-->
  <script src="/assets/sb-admin-2/sb-admin-2.js"></script>

  </body>
</html>

